/* Page header */

/*Logo*/

/* site-nav */


/*address*/


/* Секція Hero */



/* Стили для index.html */
/* Секція Особливості*/

  

/* Секція Чим ми займаємося */

/*Секція Наша команда*/

/* Убрал и в футере перестало работать сети -ОК
@import './components/soc-list'; */
 
/* Clients */



/*Footer*/


/* .logo__label-studio--footer {
    color:var(--white-simbols-color);
}

.logo:hover .logo__label-studio--footer,
.logo:focus .logo__label-studio--footer {
    color:var(--header-link-color);
} */

/* Соцсети футера ОК */
/* .footer-soc {
    margin-left: 70px;
}

.footer-soc__title {
    margin-bottom: 20px;

    color: var(--white-simbols-color);
    font-size: 14px;
    line-height: 1.4;
    text-transform: uppercase;
}

.soc-link--footer {
    background-color: rgba(255, 255, 255, 0.1);
}

.soc-icon--footer {
    fill: var(--white-simbols-color);
} */

/* Форма подписки в Футере */


/* ------------ Backdrop and Modal ------------ */


/* Стили для  страницы Portfolio */

/*Кнопки Фильтр*/



/* Карточки продуктов */


