:root {
    --headers-color: #212121;
    --secondary-text-color: #757575;
    --header-link-color: #2196F3;
    --footer-link-color:rgba(255, 255, 255, 0.6);
    --white-simbols-color:#FFFFFF;
    --primery-background-color:#FFFFFF;
    --secondary-background-color:#F5F4FA;
    --footer-background-color:#2F303A;
    --logo-black-color:#000000;
    --header-border-bottom:#ECECEC;
    --portfolio-cards-border:#EEEEEE;
    --background-hero-color:#C4C4C4;
    --icon-color: #AFB1B8;
 }